git+https://github.com/anthappanorg/pyrogram         
tgcrypto
wget
rfc3986
pytz
pypng
pyaes
hyperframe
hpack
h11
ffmpeg
chardet
urllib3
ujson
speedtest
soupsieve
sniffio
six
screeninfo
python-dotenv
pysocks
pymongo
psutil
Pillow
packaging
NumPy
multidict
lxml
idna
humanize
hstspreload
h2
greenlet
future
frozenlist
dnspython
click
charset-normalizer
certif
attrs
async-timeout 
aiofiles
yarl
SQLAlchemy
requests
python-dateutil
opencv-python-headless
motor
marshmallow
httpcore
glitch_this
ffmpeg-python
beautifulsoup4
aiosignal
umongo
telegraph
httpx
Heroku3
gTTS
cinemagoer
bs4
aiohttp
py-tgcalls
googletrans
Pyromod
Pyrogram
